%input {
    width: 100%;
    border: none;
    background: rgba(146, 162, 172, 0.08);
    padding: 10px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 15px;
    &:focus{
        outline: none;
    }
}
.input-area {
    width: 100%;
    form {
        display: flex;
        flex-direction: column;
        div {
            display: flex;
            flex-direction: column;
            max-width: 450px;
            input {
                @extend %input;
                margin: 0 0 10px 0;
            }
            textarea {
                @extend %input;
            }
        }
        button {
            width: 30%;
            border: none;
            background: rgb(53, 71, 78);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin-top: 10px;
            padding: 5px 20px;
            border-radius: 27px;
        }
    }
}