/* You can add global styles to this file, and also import other style files */
body {
    background-color:rgb(189, 199, 207);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;

}