<div>
  <div class="post">
    <div class="post-pic">
      <img src="https://img-9gag-fun.9cache.com/photo/a73BzZ2_700bwp.webp" 
      alt="funny-pic" style="width:500px; height:350px;">
    </div>
    <div class="post-text">
      <textarea rows="10" cols="70">"Toto je testovaci text"</textarea>>
    </div>
  </div>
  <div class="messages">
    <h4>Messages</h4>
    <div class="message" *ngFor="let message of messages">
      <div class="pic">
        <img src="/assets/man.svg" alt="profile-img">
      </div>
      <div class="message-text">
        <span>{{message.name}}</span>
        <p>{{message.text}}</p>
      </div>
    </div>
  </div>
  <app-discussion></app-discussion>
</div>