<div>
    <div class="post">
      <div class="post-pic">
        <img src='https://img-9gag-fun.9cache.com/photo/a73BzZ2_700bwp.webp'>
      </div>
      <div class="post-text">
        <p>Soviet nuclear physicist Valery Legasov (Jared Harris), Soviet Deputy Prime Minister Boris Shcherbina (Stellan Skarsgård),
           and Soviet nuclear physicist Ulana Khomyuk (Emily Watson) were some of the people who worked to stop radioactive material
            from the 1986 nuclear disaster at the Chernobyl Nuclear Power Plant from spreading further in this HBO/Sky co-production five-part miniseries.</p>
      </div>
    </div>
    <div class="messages">
      <h4>Messages</h4>
      <div class="message" *ngFor="let message of messages">
        <div class="pic">
          <img src="/assets/man.svg" alt="profile-img">
        </div>
        <div class="message-text">
          <span>{{message.name}}</span>
          <p>{{message.text}}</p>
        </div>
      </div>
    </div>
    <app-discussion></app-discussion>
  </div>