.post {
    width: 700px;
    height: 700px;
    background: rgba(30, 35, 41, 0.2);
    margin-bottom: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.messages {
    margin-bottom: 30px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    max-width: 500px;
    h4 {
        margin: 10px 0;
    }
    .message {
        display: flex;
        .pic {
            display: flex;
            align-items: center;
            img {
                height: 40px;
                width: 40px;
                border-radius: 50%;
            }
        }
        .message-text {
            padding: 10px;
            span {
                font-size: 11px;
                opacity: 0.8;
                font-weight: bold;
            }
            p {
                font-size: 15px;
                opacity: 0.6;
                margin: 2px 0;
            }
        }
    }
}
